.photo-grid {
  max-width: 1184px;
  margin: 92px 0 92px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  padding: 0 48px 0 48px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    padding: 0 48px 0 48px;
  }
}

@media screen and (min-width: 769px) and (max-width: 984px) {
  .photo-grid {
    margin: 88px 0 88px 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 88px 0 88px 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    padding: 0 24px 0 24px;
  }
}
@media screen and (max-width: 425px) {
  .photo-grid {
    margin: 88px 0 88px 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    padding: 0 24px 0 24px;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 64px 0 64px 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 12px;
    padding: 0 16px 0 16px;
  }
}
