.intro__list {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
/*
@media screen and (max-width: 768px) {
  .intro__lists {
    max-width: 720px;
  }
}
@media screen and (max-width: 320px) {
  .intro__lists {
    max-width: 288px;
  }
}
*/
