.cover__subtitle {
  padding: 0 calc((100% - 360px) / 2) 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  margin-top: 32px;
}
@media screen and (max-width: 1024px) {
  .cover__subtitle {
    padding: 0 calc((100% - 360px) / 2) 0;
  }
}
@media screen and (max-width: 768px) {
  .cover__subtitle {
    padding: 0 calc((100% - 360px) / 2) 0;
  }
}
@media screen and (max-width: 544px) {
  .cover__subtitle {
    padding: 0 calc((100% - 288px) / 2) 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 16px;
  }
}
