.header {
  display: flex;
  font-family: 'Inter';
  justify-content: space-between;
  width: calc(100% - 96px);
  margin: 28px auto 0;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 auto;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0 auto;
    width: calc(100% - 32px);
  }
}
