.cover__container {
  padding: 0 calc((100% - 1184px) / 2) 0;
  height: 740px;
  margin: 92px auto;
}
@media screen and (max-width: 1024px) {
  .cover__container {
    height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover__container {
    height: 480px;
    margin: 66px auto 64px;
  }
}
@media screen and (max-width: 500px) {
  .cover__container {
    height: 200px;
  }
}
