.footer__copyright {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}
@media screen and (max-width: 721px) {
  .footer__copyright {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
  }
}
