.lead__image {
  width: 100%;
  margin: 0 auto;
  padding-top: 64px;
}

@media screen and (max-width: 10124px) {
  .lead__image {
    padding-top: 56px;
  }
}

@media screen and (max-width: 464px) {
  .lead__image {
    padding-top: 40px;
  }
}
