.intro__text {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 40px;
}

/*
.intro__text {
  width: 690px;
}
@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}
@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
  }
}
*/
