.links__copyright {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
}
@media screen and (max-width: 654px) {
  .links__copyright {
    display: flex;
    align-items: flex-end;
    line-height: 14px;
  }
}
