.cover__title {
  padding: 0 calc((100% - 560px) / 2) 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 544px) {
  .cover__title {
    padding: 0 calc((100% - 288px) / 2) 0;
    font-size: 32px;
    line-height: 35px;
  }
}
