.cover__title {
  padding: 0 calc((100% - 560px) / 2) 0;
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .cover__title {
    padding: 0 calc((100% - 560px) / 2) 0;
  }
}
@media screen and (max-width: 768px) {
  .cover__title {
    padding: 0 calc((100% - 560px) / 2) 0;
  }
}
@media screen and (max-width: 544px) {
  .cover__title {
    padding: 0 calc((100% - 288px) / 2) 0;
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
  }
}
